html, body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e6f0ff, #cce0ff);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    display: block;
    margin: 15px auto 15px auto;
    width: 95%;
}

.profile-info, .credentials-change {
    margin: 10px auto;
    width: 95%;
    padding: 15px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.success, .error {
    margin-left: 10px;
}

.info-desc {
    font-weight: bold;
}

fieldset, form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 5px;
}

.password-title {
    margin-top:15px;
}

.profile-info p {
    margin-bottom: 7px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

label {
    font-weight: bold;
    text-align: left;
}

fieldset {
    border-style: none;
}

legend {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .profile-info, .credentials-change {
        margin: 25px auto;
        width: 80%;
    }

    fieldset, form {
        padding: 10px;
    }

    h1 {
        display: block;
        margin: 15px auto 15px auto;
        width: 80%;
    }

    .success, .error {
        margin-left: 150px;
    }
}