<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AlmaHub - Benvenuto</title>
</head>
<body>

  <header>
    <h1>AlmaHub</h1>
  </header>

  <main>
    <section>
      <h2>Il tuo successo accademico inizia qui.</h2>

      <p>
        Unisciti a gruppi di studio e collabora ai tuoi progetti universitari
        in modo semplice e accessibile.
      </p>

      <figure>
        <!-- qui mettiamo un'immagine -->
        <img src="#"/>
      </figure>

      <nav>
        <ul>
          <li><a href="../public/login.php">Accedi</a></li>
          <li><a href="../public/register.php">Registrati</a></li>
        </ul>
      </nav>
    </section>

    <section>
      <h2>Perché scegliere AlmaHub?</h2>

      <article>
        <h3>Gruppi di Studio</h3>
        <p>Connettiti con i colleghi del tuo corso in pochi tap.</p>
      </article>

      <article>
        <h3>Progetti comuni</h3>
        <p>Gestisci documenti e scadenze dei tuoi lavori di gruppo.</p>
      </article>

      <article>
        <h3>Design Inclusivo</h3>
        <p>Interfaccia ad alto contrasto ottimizzata per l’accessibilità.</p>
      </article>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 AlmaHub. Tutti i diritti riservati.</p>
  </footer>

</body>
</html>
